* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Paleta de colores*/
$color1:#A84144;
$color2:#FFA07A;
$color3:#F08080;
$color4:#CD5C5C;
$color5:#17202A;
$color6:#FBFCFC;
$color7:#D7DBDD;

body {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 22px;
}