$color1:#A84144;
$color2:#FFA07A;
$color3:#F08080;
$color4:#CD5C5C;
$color5:#17202A;
$color6:#FBFCFC;
$color7:#D7DBDD;


.productos .producto {
  position: absolute;
	height: 80%;
padding-bottom: 10px;
justify-content: center;}

.productos .overlay {
	width: 0%;
	height: 100%;
	position: absolute;
	justify-content: center;
	bottom: 0;
	left: 0;
	right: 0;
	background: $color3;
	overflow: hidden;
	transition: .5s ease;
}

.productos .producto:hover .overlay {
	width: 100%;
	opacity: .8;
}

.productos .producto .overlay-titulo {
	top: 60%;
	left: 50%;
	position: absolute;
	white-space: nowrap;
	color: $color7;
	font-size: 20px;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border-top: 1px soli $color6;
	border-bottom: 1px solid $color6;
}

.productos .producto .overlay-texto {
	top: 30%;
	left: 50%;
	position: absolute;
	white-space: wrap;
    text-align: center;
	color: $color6;
	font-size: 15px;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.productos .btn-productos {
	text-decoration: none;
	color: $color6;
	text-transform: uppercase;
	font-size: 12px;
	position: relative;
}

.productos .btn-productos:hover {
	background-color: transparent;
	border: 2px solid $color1;

	a {
		color: $color1;
	}}